.big{
    font-size: 4vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

.backbtn{
    padding: 10px;
    padding-top: 18px;
    font-size: 1.8vw;
    color: #f22c3c;
    font-weight: 800;
    font-style: italic;
    position: fixed;
}

a{
    color: #f22c3c;
}

a:visited{
    color: #f22c3c;
}

a:hover{
    font-weight: 200;
}

.quote{
    width: 80%;
    font-size: 7vw;
    font-style: italic;
    color: #f22c3c;
    position: relative;
    padding: 20px;
    margin-left: 10px;
    top: 90px;
}


#ty{
    width: 50%;
    display: block;
    position: relative;
    left: 45%;
    margin-top: -10%;
    z-index: -1;
}

.paragraph{
    width: 33%;
    font-size: 2.5vw;
    margin-left: 3%;
    margin-top: -45%;
    padding: 20px;
}

#flat{
    position: relative;
    text-align: center;
    display: block;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}